body {
  font-family: sans-serif;
}

.board-row {
  margin: 0;
}

.bodycss {
  text-align: center;
}

button::-moz-focus-inner {
  border: 0;
}

.square {
  background: #fff;
  border: none;
  font-size: 150px;
  font-weight: bold;
  line-height: 34px;
  height: 130px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 130px;
  outline: none;
}

.square:focus {
  outline: none;
  background: #fff;
}

table {
  border-collapse: collapse;
  margin-bottom: 3%;
}

table, th, td {
    border: 1px solid black;
}

.heading {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #60D8F9;
}

.info {
  color: #8A8881;
  font-size: 34px;
  text-align: center;
} 


.game-info {
  margin-left: 20px;
}


.themed-btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #009688;
    color: white;
    padding: 10px 15px;
}


#login-form {
    margin-top: 20%;
    text-align: center;
}

.input-form {
    margin-bottom: 15px;
}

.input-form p {
    display: inline;
}

.input-form input {
    display: inline;
}

.form-submit-btn {
    margin-top: 10px;
}